<div class="container view-container">
    <h2><center>About us</center></h2>
    <div style="column-count:3">
        <span>
            <h4>Who Are We</h4>
            <p>
                We started as a little shop around May 2021. As the months passed we have grown in branches, products and functionality. Now we are spread over many branchs, and have lots of products for you to enjoy. Remember that when you buy at our shop you support the small buisiness :)
            </p>
        </span>

        <span>
            <h4>Quality</h4>
            <p>
                Our clothes are the best in price & quality! Every item is tested before being sent to you, so you can be sure it will come true to size, high-quality and defect-free. Every new trend that comes out, we are the first to bring it to you. All of our designs are uniqe, are only available here in our shop, and are for a limited time only- dont miss out on your favorite look!
            </p>
        </span>

        <span>
            <h4>Service</h4>
            <p>
                We believe that service is everything and here to give you the best shopping experience, but please remember that this site was created by four tired soldiers that miss React and Nodejs badly, so have mercy.
            </p>
        </span>

    </div>
</div>
