<h2 style="text-align:center">Login Failed</h2>
<div class="container-fluid">
    <div class="card">
        Sorry, we cant let you in. please check your credentials and try again later
        <br />
        <button type="button" class="btn btn-default" style="margin: 20px 0"> @Html.ActionLink("Try again", "SignIn", "Authentication")</button>
    </div>
</div>
