
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string Name = ViewBag.Name;
}
<div class="container view-container">
    <div>
        <h2>Hello @Name !</h2>
        <h5>Here you have permissions to view and edit branches, costumers, products, categories, orders and admins.</h5>
    </div>
</div>
