
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string Name = ViewBag.Name;
}
<div class="container view-container">
    <div>
        <h2>Welcome @Name</h2>
        <h5>Here you can edit products</h5>
    </div>
</div>
